.header {
  padding-top: 200px;
  padding-bottom: 72px;
}

.title {
  margin-bottom: 48px;
}

.short > :global(.hairline-draw__line) {
  width: 40%;
}

.subline {
  max-width: 52ch;
  padding-top: 24px;
  font-size: 20px;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .header {
    padding-top: 136px;
    padding-bottom: 48px;
  }

  .title {
    margin-bottom: 32px;
  }

  .subline {
    font-size: 17px;
  }
}
